{% extends 'base.html.twig' %}

{% block javascripts %}
	<!-- Theme JS files -->
	<script src="{{ asset("global_assets/js/plugins/tables/datatables/datatables.min.js")}}"></script>
	<script src="{{ asset("global_assets/js/plugins/forms/selects/select2.min.js")}}"></script>
	<script src="{{asset("global_assets/js/demo_pages/datatables_basic.js")}}"></script>
	<!-- /theme JS files -->
{% endblock %}
{% block title %}Admin list
{% endblock %}
{% block menu %}
	<h4>
		<i class="icon-arrow-left52 mr-2"></i>
		<span class="font-weight-semibold">Home</span>
		- Admin pages</h4>
{% endblock %}
{% block menu_petit %}
	<div class="breadcrumb">
		<a href="index.html" class="breadcrumb-item">
			<i class="icon-home2 mr-2"></i>
			Home</a>
		<span class="breadcrumb-item active">Admin Pages - Admin management
		</span>
	</div>
{% endblock %}


{% block content %}


	<!-- Basic datatable -->
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">List of administrators</h5>
			<div class="header-elements">
				<div class="list-icons">
					<a href="{{path('app_admin_new')}}" class="nav-link">

						<button type="submit" class="btn btn-success">
							<b>
								<i class="icon-plus3 mr-1"></i>
							</b>
							<big>Add admin</big>
						</button>
					</a>
				</div>

			</div>
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>Id</th>
					<th>Lastname</th>
					<th>Profile picture</th>
					<th>Email</th>
					<th>Roles</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for admin in admins %}
					<tr>
						<td>{{ admin.id }}</td>
						<td>{{ admin.lastname}}</td>

						<td>
							{% if admin.avatar == true %}

								<img src="{{ asset('uploads/images/user/images/' ~ admin.avatar) }}" width="60" height="60" class="rounded-circle">


							{% elseif admin.avatar == false %}
								<img src="../../../../global_assets/images/placeholders/profile.png" width="60" height="60" class="rounded-circle">


							{% endif %}
						</td>
						<td>{{ admin.email }}</td>


						<td>
							{% set super_admin = false %}
							{% set _admin = false %}

							{% for role in admin.roles %}
								{% if role == "ROLE_SUPER_ADMIN" %}
									{% set super_admin = true %}
								{% endif %}

								{% if role == "ROLE_ADMIN" %}
									{% set _admin = true %}
								{% endif %}
							{% endfor %}

							{% if super_admin %}
								<p>Super_admin</p>


							{% elseif _admin %}
								<p>Admin</p>
								<p>
								{% endif %}
							</td>
						</td>
						<td>
							<div class="modal-footer ">
								<a href="{{ path('app_admin_edit', {'id': admin.id}) }}" class="btn btn-primary btn-sm mr-1 ">
									<i class="icon-pencil7 mr-1{# icon-2x #} "></i>
									Edit
								</a>
								{% if not super_admin %}

									<a class="btn btn-danger btn-sm text-white" data-toggle="modal" data-target="#modal_Delete{{admin.id}}">
										<i class="icon-bin mr-1 {# icon-2x #}"></i>

										Delete
									</a>
								{% endif %}
							</div>
						</td>
					</tr>
					<!-- Delete modal -->

					<div id="modal_Delete{{admin.id}}" class="modal fade" tabindex="-1">

						<div class="modal-dialog ">

							<div class="modal-content">

								<div class="modal-header bg-danger">
									<h5 class="modal-title">Deletion</h5>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<div
									class="modal-body">
									{# <h6 class="font-weight-semibold">Text in a modal</h6> #}
									<p>Are you sure to delete this user.</p>

								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<a href="{{ path('app_admin_delete',{'id': admin.id})}}">
										<button type="button" class="btn bg-danger">Delete</button>
									</a>
								</div>
							</div>
						</div>
					</div>


					<!-- /Delete modal -->
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}